*{
    margin: 0;
    border: 0;
    padding: 0;
}

body{
    background-color: #E0FFFF;
    font-family: 'Space Mono', sans-serif;
    width: 100%;
}

img{
    margin: 50px auto;
    display: block;
}

.conteiner_principal{
    background-color: #FFFFFF;
    max-width: 50%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-evenly;
    border-radius: 20px;
    min-width: 400px;
}

input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

input[type="number"]::placeholder{
    font-size: 20px;
    font-family: 'Space Mono', sans-serif;
}
/*ESTILOS DO FORMULÁRIO*/

.formulario, .resumo{
    width: 40%;
    min-width: 350px;
}

.formulario, .resumo{
    margin: 30px 0;
}

.formulario p{
    margin: 20px 0 10px;
}

input{
    width: 40%;
    min-width: 330px;
    display: block;
    padding: 8px;
    margin: 8px 0 0;
    text-align: end;
    border-radius: 5px;
}

#conta{
    background: url(imagens/icon-dollar.svg) no-repeat 5% #dffdfd;
}

#pessoas{
    background: url(imagens/icon-person.svg) no-repeat 5% #dffdfd;
}

/*ESTILOS DA GORJETA*/

.gorjeta{
    display: grid;
    grid-template-columns: 110px 110px 110px;
    gap: 20px;
    margin: 0 0 20px;
}

.gorjeta input[type="radio"]{
    display: none;
}

.gorjeta label{
    background-color: #005757;
    color: #FFFFFF;
    padding: 8px;
    vertical-align: center;
    text-align: center;
    font-size: 25px;
    border-radius: 5px;
}

#gorjeta_outro{
    background: hsl(180, 37%, 97%);
    width: 95px;
    min-width: 0;
    text-align: center;
    font-size: 25px;
    color: #005757;
    border: 2px solid hsl(180, 37%, 97%);
}

#gorjeta_outro::placeholder{
    font-size: 25px;
}

/* ESTILOS DO RESUMO */

.resumo{
    background-color: #005757;
    position: relative;
    border-radius: 15px;
    display: inline-block;
}

.resumo h3{
    color: #FFFFFF;
    font-size: 15px;
    margin: 40px 0 0 20px;
}

.resumo p{
    color: #677c67;
    font-size: 11px;
    margin: 0 0 0 20px;
}

.resumo h1{
    color:#02d4d4;
    font-weight: bold;
    right: 30px;
    position: absolute;
}

#tot_Gorjeta{
    right: 30px;
    top: 28px;
}

#tot_Conta{
    right: 30px;
    top: 107px;
}

.resumo h2{
    background-color: #008f8f;
    width: 300px;
    margin: 80px auto;
    padding: 5px 0;
    text-align: center;
    color: #005757;
    border-radius: 5px;
}
